<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="API.Properties.Settings.LMCdatabaseConnectionString"
            connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=LMCdatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>